USE [master]
GO
/****** Object:  Database [Pss]    Script Date: 25/06/2022 11:56:35 p. m. ******/
CREATE DATABASE [Pss]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pss', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Pss.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pss_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Pss_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pss].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pss]
GO
/****** Object:  Table [dbo].[Activos_Fijos]    Script Date: 25/06/2022 11:56:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activos_Fijos](
	[ID_ACTIVOS_FIJOS] [int] NOT NULL,
	[ID_INVENTARIO] [int] NOT NULL,
	[DELETED_AT] [date] NOT NULL,
	[CREATED_AT] [date] NOT NULL,
	[UPDATED_AD] [date] NOT NULL,
 CONSTRAINT [PK_Activos_Fijos] PRIMARY KEY CLUSTERED 
(
	[ID_ACTIVOS_FIJOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Beneficiario]    Script Date: 25/06/2022 11:56:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beneficiario](
	[ID_Beneficiario] [int] NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[Fechas] [date] NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[DELETED_AT] [date] NOT NULL,
	[CREATED_AT] [date] NOT NULL,
	[UPDATE_AT] [date] NOT NULL,
 CONSTRAINT [PK_Beneficiario] PRIMARY KEY CLUSTERED 
(
	[ID_Beneficiario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coordinador]    Script Date: 25/06/2022 11:56:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coordinador](
	[ID_COORDINADOR] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[ID_REGISTRO] [int] NOT NULL,
	[ID_INVENTARIO] [int] NOT NULL,
	[DELETED_AT] [date] NOT NULL,
	[CREATED_AT] [date] NOT NULL,
	[UPDATED_AD] [date] NOT NULL,
 CONSTRAINT [PK_Coordinador] PRIMARY KEY CLUSTERED 
(
	[ID_COORDINADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Crear_Usuario]    Script Date: 25/06/2022 11:56:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Crear_Usuario](
	[ID_Crear_Usuario] [int] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_COORDINADOR] [int] NOT NULL,
	[DELETED_AT] [date] NOT NULL,
	[CREATED_AT] [date] NOT NULL,
	[UPDATED_AD] [date] NOT NULL,
 CONSTRAINT [PK_Crear_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID_Crear_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dotación_y_EPP's]    Script Date: 25/06/2022 11:56:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dotación_y_EPP's](
	[ID_DOTACION] [int] NOT NULL,
	[ID_INVENTARIO] [int] NOT NULL,
	[DELETED_AT] [nchar](10) NOT NULL,
	[CREATED_AT] [nchar](10) NOT NULL,
	[UPDATED_AD] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Dotación_y_EPP's] PRIMARY KEY CLUSTERED 
(
	[ID_DOTACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 25/06/2022 11:56:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[ID_Empleado] [int] NOT NULL,
	[Primer_Nombre] [nvarchar](50) NOT NULL,
	[Segundo_Nombre] [nvarchar](50) NULL,
	[Primer_Apellido] [nvarchar](50) NOT NULL,
	[Segundo_Apellido] [nvarchar](50) NULL,
	[Telefono] [int] NOT NULL,
	[Correo_Electronico] [nvarchar](50) NOT NULL,
	[Dirrecion] [nvarchar](50) NULL,
	[Contraseña] [nvarchar](50) NOT NULL,
	[Fechas] [date] NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[DELETED_AT] [date] NOT NULL,
	[CREATED_AT] [date] NOT NULL,
	[UPDATE_AT] [date] NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[ID_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 25/06/2022 11:56:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[ID_FACTURA] [nchar](10) NOT NULL,
	[FECHA] [nchar](10) NOT NULL,
	[ID_REGISTRO] [nchar](10) NOT NULL,
	[ID_PROVEEDOR] [nchar](10) NOT NULL,
	[PRODUCTO] [nchar](10) NOT NULL,
	[CANTIDAD] [nchar](10) NOT NULL,
	[VALOR_UNITARIO] [nchar](10) NOT NULL,
	[VALOR_TOTAL] [nchar](10) NOT NULL,
	[NOMBRE_EMPRESA] [nchar](10) NOT NULL,
	[DELETED_AT] [nchar](10) NOT NULL,
	[CREATED_AT] [nchar](10) NOT NULL,
	[UPDATED_AD] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[ID_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Informe]    Script Date: 25/06/2022 11:56:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informe](
	[ID_Informe] [int] NOT NULL,
	[ID_Coordinador] [int] NOT NULL,
	[ID_Benefactor] [int] NOT NULL,
	[ID_Inventario] [int] NOT NULL,
	[ID_Suministros] [int] NOT NULL,
	[Tipo_de_Imforme] [nvarchar](50) NOT NULL,
	[Fecha_de_Creacion] [date] NOT NULL,
	[Proveedor] [nvarchar](50) NOT NULL,
	[Dirijido_A] [nvarchar](20) NOT NULL,
	[Creado_Por] [nvarchar](50) NOT NULL,
	[Cantidad_Hojas] [int] NOT NULL,
	[Estado_Producto] [nvarchar](20) NOT NULL,
	[Tipo_Inventario] [nvarchar](50) NOT NULL,
	[CANTIDAD_DISPONIBLE] [int] NOT NULL,
	[INGRESO_PRODUCTOS] [nvarchar](50) NOT NULL,
	[EGRESO_PRODUCTOS] [nvarchar](50) NOT NULL,
	[DELETED_AT] [date] NOT NULL,
	[CREATED_AT] [date] NOT NULL,
	[UPDATED_AD] [date] NOT NULL,
 CONSTRAINT [PK_Informe] PRIMARY KEY CLUSTERED 
(
	[ID_Informe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Informe_Beneficiarios]    Script Date: 25/06/2022 11:56:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informe_Beneficiarios](
	[ID_INFO_BENEFICIARIO] [int] NOT NULL,
	[ID_INFORME] [int] NOT NULL,
	[ID_BENEFICIARIO] [int] NOT NULL,
	[DELETED_AT] [date] NOT NULL,
	[CREATED_AT] [date] NOT NULL,
	[UPDATED_AD] [date] NOT NULL,
 CONSTRAINT [PK_Informe_Beneficiarios] PRIMARY KEY CLUSTERED 
(
	[ID_INFO_BENEFICIARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Informe_Suministros]    Script Date: 25/06/2022 11:56:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informe_Suministros](
	[ID_SUMINISTROS] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[ESTADO_PRODUCTO] [nvarchar](50) NOT NULL,
	[CANTIDAD] [nvarchar](50) NOT NULL,
	[ID_INFORME] [int] NOT NULL,
	[DELETED_AT] [date] NOT NULL,
	[CREATED_AT] [date] NOT NULL,
	[UPDATED_AD] [date] NOT NULL,
 CONSTRAINT [PK_Informe_Suministros] PRIMARY KEY CLUSTERED 
(
	[ID_SUMINISTROS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 25/06/2022 11:56:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[ID_INVENTARIO] [int] NOT NULL,
	[FECHA] [date] NOT NULL,
	[CODIGO_TIPO_INVENTARIO] [int] NOT NULL,
	[HORA_ENTREGA] [date] NOT NULL,
	[TIPO_DE_INVENTARIO] [nvarchar](50) NOT NULL,
	[ID_INFORMES] [int] NOT NULL,
	[ID_COORDINADOR] [int] NOT NULL,
	[ID_REGISTRO] [int] NOT NULL,
	[ID_DOTACION] [int] NOT NULL,
	[ID_NO_ACTIVOS] [int] NOT NULL,
	[ID_ACTIVOS_FIJOS] [int] NOT NULL,
	[CANTIDAD_TIPO_INVENTARIO] [nvarchar](50) NOT NULL,
	[DELETED_AT] [date] NOT NULL,
	[CREATED_AT] [date] NOT NULL,
	[UPDATED_AD] [date] NOT NULL,
 CONSTRAINT [PK_Inventario] PRIMARY KEY CLUSTERED 
(
	[ID_INVENTARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movimiento]    Script Date: 25/06/2022 11:56:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimiento](
	[ID_MOVIMIENTO] [int] NOT NULL,
	[ID_INVENTARIO] [int] NOT NULL,
	[ID_INFORMES] [int] NOT NULL,
	[ENTREGA_PRODUCTO] [nvarchar](50) NOT NULL,
	[NOMBRE_PRODUCTO] [nvarchar](50) NOT NULL,
	[REGISTRO_DIARIO] [nvarchar](50) NOT NULL,
	[REGISTRO_MES] [nvarchar](50) NOT NULL,
	[TIPO_INVENTARIO] [nvarchar](50) NOT NULL,
	[FECHA_Y_HORA] [date] NOT NULL,
	[CANTIDAD_DISPONIBLE] [nvarchar](50) NOT NULL,
	[CANTIDAD_EGRESO] [nvarchar](50) NOT NULL,
	[DELETED_AT] [date] NOT NULL,
	[CREATED_AT] [date] NOT NULL,
	[UPDATED_AT] [date] NOT NULL,
 CONSTRAINT [PK_Movimiento] PRIMARY KEY CLUSTERED 
(
	[ID_MOVIMIENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[No_Activos]    Script Date: 25/06/2022 11:56:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[No_Activos](
	[ID_NO_ACTIVOS] [int] NOT NULL,
	[ID_INVENTARIO] [int] NOT NULL,
	[DELETED_AT] [date] NOT NULL,
	[CREATED_AT] [date] NOT NULL,
	[UPDATED_A] [date] NOT NULL,
 CONSTRAINT [PK_No_Activos] PRIMARY KEY CLUSTERED 
(
	[ID_NO_ACTIVOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registrar_Asistencia]    Script Date: 25/06/2022 11:56:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registrar_Asistencia](
	[ID_REGISTRAR_ASISTENCIA] [int] NOT NULL,
	[FECHA_REGISTRO_ASISTENCIA] [date] NOT NULL,
	[ID_COORDINADOR] [int] NOT NULL,
	[ID_BENEFICIARIO] [int] NOT NULL,
	[DELETED_AT] [date] NOT NULL,
	[CREATED_AT] [date] NOT NULL,
	[UPDATED_AD] [date] NOT NULL,
 CONSTRAINT [PK_Registrar_Asistencia] PRIMARY KEY CLUSTERED 
(
	[ID_REGISTRAR_ASISTENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registro]    Script Date: 25/06/2022 11:56:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registro](
	[ID_REGISTRO] [int] NOT NULL,
	[ID_INVENTARIO] [int] NOT NULL,
	[ID_FACTURA] [int] NOT NULL,
	[ID_COORDINADOR] [int] NOT NULL,
	[NOMBRE_CREADOR] [nvarchar](50) NOT NULL,
	[TIPO_INVENTARIO] [nvarchar](50) NOT NULL,
	[FACTURA] [nvarchar](50) NOT NULL,
	[FECHA_ENTREGA_Y_HORA] [date] NOT NULL,
	[DELETED_AT] [date] NOT NULL,
	[CREATED_AT] [date] NOT NULL,
	[UPDATED_AT] [date] NOT NULL,
 CONSTRAINT [PK_Registro] PRIMARY KEY CLUSTERED 
(
	[ID_REGISTRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 25/06/2022 11:56:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID_Usuario] [int] NOT NULL,
	[ID_Create_usuario] [int] NOT NULL,
	[ID_Empleado] [int] NOT NULL,
	[ID_Beneficiario] [int] NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](20) NOT NULL,
	[Direccion] [nvarchar](20) NULL,
	[Correo] [nvarchar](50) NULL,
	[Fecha_Creacioion_Usuario] [date] NOT NULL,
	[DELETED_AT] [date] NOT NULL,
	[CREATED_AT] [date] NOT NULL,
	[UPDATE_AT] [date] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
